.Form {
    width: 60%;
    display: flex;
}

.Input {
    width: 70%;
    height: 100%;
    padding: 0.5rem 1rem;
    font-size: large;
}

.Button {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button:hover {
    background-color: gray;
    color: white;
}

.Button:active {
    background-color: black;
}