.Form {
    height: 20%;
    width: 94%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Input {
    width: 90%;
    height: 100%;
    padding: 1.5rem 1rem;
    font-size: large;
}

.Button {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1.5rem 1rem;
}

.Button:hover {
    background-color: gray;
    color: white;
}

.Button:active {
    background-color: black;
}

